<div class="row">
  <div class="col-md-3">
         <app-calen-aux></app-calen-aux>
  
 <h3>Revervations of</h3>
 <!--<button (click)="getDataTest()">data</button>-->
 <h2>{{ profile?.nickname}}</h2>
<ul [@listStagger]="calendars$">
  <table class="table table-responsive">
    <thead>
      <tr [@listStagger]="calendars$">
        <th scope="col">Description</th>
        <th scope="col">Owner</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let calendar of calendars$">
          <td >{{calendar.title}}</td>
          <td >{{calendar.owner}}</td>
          <td (click)="eliminar(calendar.id)"> X</td>
        </tr>
    </tbody>
  </table>
</ul>
  </div>
  <div class="col-md-9">
        <div *ngIf="calendarOptions">
                <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (dayClick)="dayClick($event.detail)"(eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (eventDrop)="eventDrop($event.detail)"  (eventResize)="eventResize($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
</div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
  
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  <!-- addUserTemplate -->
            <div class="container">
                <div class="row">
                    <form #calendarForm="ngForm">
                        <div class="col-lg-12">
                            <div class="well well-sm"><h1><span class="glyphicon glyphicon-asterisk"></span>Make an appoinment</h1></div>
                            <div class="form-group">
                              <label for="InputName">Owner</label> 
                              <div class="input-group">
                                  <input type="text" class="form-control" name="owner" #name="ngModel" id="owner" [(ngModel)]="data.selectedCalendar.owner" placeholder="owner" >              
                              </div>
                          </div>
                            <div class="form-group">
                                <label for="InputName"> Description</label> 
                                <div class="input-group">
                                    <input type="text" class="form-control" name="title" #name="ngModel" id="title" [(ngModel)]="data.selectedCalendar.title" placeholder="description" >              
                                </div>
                            </div>
                            <div class="form-group c1">
                                <label for="InputEmail">start</label>
                                <div class="input-group">
                                   <input type="text" class="form-control" name="start" #name="ngModel" id="start" [(ngModel)]="data.selectedCalendar.start" placeholder="start" >             
                                    

                                  </div>
                            </div>
                            <div class="form-group c2">
                                    <label for="InputName">end </label>
                                    <div class="datepicker-container">
                                        <ng-datepicker [(ngModel)]="data.selectedCalendar.date" [options]="options" name="end" #name="ngModel" placeholder="end"></ng-datepicker>
                                      </div>
                                </div>
                            <input  type="submit"  value="save" class="btn btn-info float-xs-right" (click)="saveData(calendarForm)" >
                            
                        </div>
                    </form>
                </div>
              </div>
  <!-- adduserTemplate -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeData(calendarForm)">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
  
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  <!-- addUserTemplate -->
            <div class="container">
                <div class="row">
                    <form #updateForm="ngForm">
                        <div class="col-lg-12">
                            <div class="well well-sm"><h1><span class="glyphicon glyphicon-asterisk"></span>Make an appoinment</h1></div>
                           
                                <div class="form-group">
                                  <label for="InputEmail">Owner</label>
                                  <div class="input-group">
                                     <input type="text" class="form-control" name="ownerUpdate" #name="ngModel" id="ownerUpdate" [(ngModel)]="ownerUpdate" placeholder="ownerUpdate" >             
                                    </div>
                              </div> 
                              <div class="form-group">
                              <label for="InputName"> Description</label>
                                <div class="input-group">
                                    <input type="hidden" class="form-control" name="idUpdate" #name="ngModel" id="idUpdate" [(ngModel)]="id" placeholder="description" >  
                                    <input type="text" class="form-control" name="titleUpdate" #name="ngModel" id="titleUpdate" [(ngModel)]="title" placeholder="description" >              
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InputEmail">start</label>
                                <div class="input-group">
                                   <input type="text" class="form-control" name="startUpdate" #name="ngModel" id="startUpdate" [(ngModel)]="start" placeholder="start" >             
                                  </div>
                            </div>
                            <div class="form-group">
                                    <label for="InputName">end </label>
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="endUpdate" #name="ngModel" id="endUpdate" [(ngModel)]="end" placeholder="start" >             
                                     </div>
                                </div>
                                <div class="form-group">
                            <input type="submit" value="update" class="btn btn-info float-xs-right" *ngIf="" (click)="update(updateForm)" >
                            <input type="submit" value="delete" class="btn btn-info float-sm-left" (click)="deleteUpdate(updateForm)" >
                        </div>
                        </div>
                    </form>
                </div>
              </div>
  <!-- adduserTemplate -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeData(updateForm)">Close</button>
        </div>
      </div>
    </div>
  </div>

