<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
      <div *ngIf="calendarOptions">
          <ng-fullcalendar #ucCalendar [options]="calendarOptions" [(eventsModel)]="events"></ng-fullcalendar>
      </div>
  </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  <!-- addUserTemplate -->
            <div class="container">
                <div class="row">
                    <form #userForm="ngForm">
                        <div class="col-lg-12">
                            <div class="well well-sm"><h1><span class="glyphicon glyphicon-asterisk"></span>Make an appoinment</h1></div>
                            <div class="form-group">
                                <label for="InputName"> start date</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="fechaInicio" id="fechaInicio" placeholder="username" >              
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InputEmail">finish date</label>
                                <div class="input-group">
                                    <input type="password" class="form-control"  name="fechaFin" id="fechaFin" placeholder="Password" >          
                                </div>
                            </div>
                            <input type="submit"  value="Update" class="btn btn-info float-xs-right" >
                        </div>
                    </form>
                </div>
              </div>
  <!-- adduserTemplate -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
  </div>
