
  <nav class="navbar navbar-dark bg-dark" *ngIf="auth.isAuthenticated()">
   
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="user" [class.activated]="currentUrl == '/user'">User</a>
        <a class="navbar-brand" routerLink="calen-api" [class.activated]="currentUrl == '/calen-api'">Calendario</a>
    </div>
    <form class="form-inline">
        
    <button
      class="btn btn-primary btn-margin"
      *ngIf="auth.isAuthenticated()"
      (click)="auth.logout()">
        Log Out
    </button>
  </form>
  </nav>