

<div class="row">
<div class="col-md-2">
  <img class="img-cirlce" style="width: 100%" src="{{profile?.picture}}">

</div>
<div class="col-md-10">
  <h1>{{profile?.name}}</h1>
  <p>Nickname: {{profile?.nickname }}</p>
  <p>Lat Update: {{ profile?.updated_at }}</p>
  <p>Email: {{ profile?.name }}</p>
  <!--<button (click)="add_user()">add</button>-->
</div>
</div>
<h1> Currency list of Users</h1>
<ul [@listStagger]="users$">
  <table class="table table-responsive">
    <thead>
      <tr [@listStagger]="users$">
        <th scope="col">NameUser</th>
        <th scope="col">Nickname</th>
        <th scope="col">LastUpdated_At</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$">
          <td>{{user.name}}</td>
          <td>{{user.nickname}}</td>
          <td>{{user.updated_at}}</td>
        </tr>
    </tbody>
  </table>
</ul>


